@use 'sass:map';
@use '@angular/material' as mat;

@mixin auth-component-theme($theme, $color, $background-color){
  .authentication-card {
    color: mat.get-theme-color($theme, primary) !important;
    background-color: $color !important;
  }
  .mode-swap-anchor{
    color: mat.get-theme-color($theme, primary);
  }

  .authentication-div{
    background-color: $background-color;
  }
}
