<!--suppress JSIncompatibleTypesComparison -->
<div class="authentication-div">
  <mat-card class="authentication-card">
    <mat-card-header class="authentication-card-header">
      <mat-card-title style="font-size: xx-large">login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="authentication-card-content">
      @if (loginMode()) {
        <app-login-form></app-login-form>
      } @else {
        <!--        todo: signup form here-->
      }
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <p class="mode-swap-paragraph">or {{ loginMode() ? 'sign up' : 'login' }}
        <strong>
          <a class="mode-swap-anchor" routerLink="/auth" (click)="onSwitchMode()">here</a>
        </strong>
      </p>
      <div class="spacer"></div>
      @if (loginMode()) {
        <button [disabled]="!this.loginFormValid"
                (click)="onSubmitLogin()" mat-flat-button>login
        </button>
      } @else {
        <!--        todo: sign up component communication here-->
        <button [disabled]="true" mat-flat-button>sign up</button>
      }
    </mat-card-actions>
    @if (loading()) {
      <mat-card-footer class="authentication-footer">
        <mat-progress-bar class="authentication-progress" mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    }
  </mat-card>
</div>
