.spacer {
  display: flex;
  flex: auto;
}

.authentication-card {
  margin: 8px;
  min-width: 332px;
  max-width: 480px;
  min-height: 300px;
  max-height: 480px;
}

.authentication-card-content{
  margin: 16px 0;
}

.authentication-footer {
  margin-left: 8px;
  margin-right: 8px;
}

.authentication-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-card-header {
  width: 90%;
  justify-content: center;
  margin: 20px auto;
}

.mode-swap-anchor {
  cursor: pointer;
}

.card-actions {
  margin: 0 8px;
}

.mode-swap-paragraph{
  margin: 10px 0 0 5px ;
}
