<mat-form-field class="pokemon-name-form-field" appearance="outline">
  <mat-label>Edition</mat-label>
  <input type="text"
         placeholder="Name"
         matInput
         [formControl]="editionControl"
         [matAutocomplete]="auto">
  <mat-autocomplete (optionSelected)="emitSelection()"
                    autoActiveFirstOption [class]="responsive.isDarkMode() ? 'dark-themed' : 'light-themed'"
                    #auto="matAutocomplete">
    @for (edition of filteredEditions | async; track edition) {
      <mat-option [class]="responsive.isDarkMode() ? 'dark-themed' : 'light-themed'"
                  [value]="edition">{{ edition }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
