@use 'sass:map';
@use '@angular/material' as mat;

@mixin toolbar-theme($theme, $color){
  .sidenav-container {
    background: mat.get-theme-color($theme, surface);
  }

  .toolbar {
    color: mat.get-theme-color($theme, primary) !important;
    background-color: $color !important
  }
  .menu-button {
    color: mat.get-theme-color($theme, primary) !important;
  }

  .non-mobile-add-fab{
    background-color: mat.get-theme-color($theme, primary) !important;
    color: mat.get-theme-color($theme, on-primary) !important;
  }

  .profile-picture {
    border-color: mat.get-theme-color($theme, primary) !important;
  }

  .light-themed{
    background-color: mat.get-theme-color($theme, surface);
  }

}
