.content-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.profile-picture {
  background-size: cover;
  border-radius: 50%;
  border: 0.5px solid; 
}


.sidenav-container {
  flex: 1;
}

.dark-themed {
  color: #abc7ff !important;
}

.light-themed {
  color: #006a6a !important;
}

.non-mobile-add-fab {
  margin: 8px;
  height: 44px;
}
