<div #container class="content-container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="menu-button">menu</mat-icon>
    </button>
    @if (responsive.currentRoute() !== 'dashboard') {
      <h1 class="app-name">{{ appName }} - {{ responsive.currentRoute() | titlecase }}</h1>
    } @else {
      <h1 class="app-name">{{ appName }}</h1>
    }
    <span class="spacer"></span>
    @if (!responsive.isMobile()) {
      <button class="non-mobile-add-fab" mat-fab extended routerLink="/add">
        Add
        <mat-icon class="search-button">my_library_add</mat-icon>
      </button>
    }
    <button [style]="'background-image: url('+avatarUrl()+')'" mat-icon-button
            [matMenuTriggerFor]="menu" class="profile-picture {{responsive.isDarkMode() ? '' : 'light-themed'}}" aria-label="Account settings">
      <mat-menu
        #menu="matMenu">
        <button [class]="theme" mat-menu-item routerLink="/account">
          Account
          <mat-icon [class]="theme" fontIcon="settings"></mat-icon>
        </button>
        <button [class]="theme" mat-menu-item (click)="this.responsive.toggleDarkMode()">
          {{ responsive.isDarkMode() ? 'Light Mode' : 'Dark Mode' }}
          <mat-icon [class]="theme" fontIcon="brightness_medium"></mat-icon>
        </button>
        <button [class]="theme" mat-menu-item (click)="logout()">Logout
          <mat-icon [class]="theme" fontIcon="logout"></mat-icon>
        </button>
      </mat-menu>
    </button>
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="true" class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [fixedInViewport]="responsive.isMobile()" fixedTopGap="56">
      <mat-nav-list>
        <a class="sidenav-element" mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()">Dashboard</a>
        <a class="sidenav-element" mat-list-item routerLink="/edit" (click)="sidenav.toggle()">Edit</a>
        <a class="sidenav-element" mat-list-item routerLink="/add" (click)="sidenav.toggle()">Add</a>
        <a class="sidenav-element" mat-list-item routerLink="/account" (click)="sidenav.toggle()">Account</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      @if (responsive.currentRoute() !== 'dashboard') {
        <app-card-wrapper>
          <router-outlet></router-outlet>
        </app-card-wrapper>
      } @else {
        <router-outlet></router-outlet>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
