.spacer {
  flex: 1 1 auto;
}

.profile-picture {
  //todo: set image dynamically
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: 50%;
}
