@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme, $color) {
  .rounded-picture {
    border: 2px solid mat.get-theme-color($theme, primary) !important;
  }
  .primary-card{
    color: mat.get-theme-color($theme, primary) !important;
    background-color: $color !important;
  }
}

@mixin theme($theme, $color) {
  @if mat.theme-has($theme, color) {
    @include color($theme, $color);
  }
}
