@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme, $color) {
  .rounded-picture {
    border: 2px solid mat.get-theme-color($theme, primary) !important;
  }
  .primary-card {
    color: mat.get-theme-color($theme, primary) !important;
    background-color: $color !important;
  }
  .pokemon-edition-chip[title="Schwarz 2"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Schwarz"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Purpur"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;;
  }
}

@mixin theme($theme, $color) {
  @if mat.theme-has($theme, color) {
    @include color($theme, $color);
  }
}
