<mat-card [@inOutAnimation] class="pokemon-card primary-card">
  <mat-card-header>
    <mat-card-subtitle>#{{ _stateService.pokemon()?.dexNumber }}</mat-card-subtitle>
    <mat-card-title>{{ _stateService.pokemon()?.name | titlecase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img class="rounded-picture" width="300" height="300"
         [src]="_stateService.isShiny() ? _stateService.pokemon()?.spriteShinyUrl : _stateService.pokemon()?.spriteUrl"
         alt=""/>
    <mat-divider style="margin: 16px 0 16px 0"></mat-divider>
    <app-pokemon-type [types]="_stateService.pokemon()?.types"></app-pokemon-type>
  </mat-card-content>
</mat-card>
