<mat-accordion class="edit-accordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Forms</mat-panel-title>
      <mat-panel-description>
        <mat-icon style="margin-left: auto; margin-right: 0">extension</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div style="margin: 0 16px;">
      <mat-checkbox class="checkbox" checked="{{pokemon()?.shiny}}"
                    (click)="_stateService.toggleShiny()">
        Shiny
      </mat-checkbox>
      <mat-checkbox style="float: right; margin-right: 12px" class="checkbox"
                    checked="{{pokemon()?.normal}}"
                    (click)="_stateService.toggleNormal()">
        Normal
      </mat-checkbox>
    </div>
      <div style="margin: 0 16px;">
        <mat-checkbox class="checkbox" checked="{{pokemon()?.regional}}"
                      (click)="_stateService.toggleRegional()">
          Regional
        </mat-checkbox>

        <mat-checkbox style="float: right" class="checkbox" checked="{{pokemon()?.universal}}"
                      (click)="_stateService.toggleUniversal()">
          Universal
        </mat-checkbox>
      </div>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Editions</mat-panel-title>
      <mat-panel-description>
        <mat-icon style="margin-left: auto; margin-right: 0">layers</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-edition-selector (onChange)="_stateService.addEdition($event)"></app-edition-selector>
      @for (edition of pokemon()!.editions; track pokemon()!.editions) {
        <mat-chip-row
          class="pokemon-edition-chip"
          [editable]="true" title="{{edition}}"
          (removed)="this._stateService.removeEdition(edition)">
          {{ edition }}
          <button matChipRemove [attr.aria-label]="'remove ' + edition">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
