@use 'sass:map';
@use '@angular/material' as mat;

@mixin create-tracker-set-component-theme($theme, $color){
  .primary-card{
    color: mat.get-theme-color($theme, primary) !important;
    background-color: $color !important;
  }
  .checkbox .mat-internal-form-field{
    color: var(--mat-card-subtitle-text-color) !important;
  }
}
