.mat-stepper-vertical {
  margin-top: 8px;
  margin-bottom: 5px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.footer {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.base-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card{
  max-width: 500px;
  width: 100%;
  margin: 16px;
  max-height: 580px;
  height: 100%
}

.pokemon-card{
  margin: 16px;
  max-height: 580px;
  height: 100%
}
