<div class="base-container">
  <mat-card class="form-card primary-card">
    <mat-card-header>
      <mat-card-subtitle>Create Pokemon</mat-card-subtitle>
      <mat-card-title>Poketracker entry</mat-card-title>
    </mat-card-header>
    <mat-card-content style="height: 100%">
      <mat-stepper class="primary-card" orientation="vertical" linear="true" #stepper>
        <mat-step [stepControl]="pokemonNameFormGroup">
          <form [formGroup]="pokemonNameFormGroup">
            <ng-template matStepLabel>Pokémon</ng-template>
            <mat-form-field style="width: 100%" >
              <mat-label>Pokémon</mat-label>
              <input (keydown.enter)="triggerUpdate()" #pokemonName matInput placeholder="Name"
                     formControlName="pokemonName" required>
              @if (this.pokemonNameFormGroup.controls.pokemonName.hasError("pokemonLoadError")) {
                <mat-error>Pokemon not found</mat-error>
              }
              @if (this.pokemonNameFormGroup.controls.pokemonName.hasError("required")) {
                <mat-error>Pokemon name is required</mat-error>
              }
            </mat-form-field>
            <p>
              <button mat-button matStepperNext
                      [disabled]="pokemonNameFormGroup.controls.pokemonName.invalid || this._stateService.loading()">
                Next
              </button>
            </p>
          </form>
        </mat-step>
        <mat-step>
          <p>
            <mat-checkbox class="checkbox" checked="{{_stateService.isShiny()}}"
                          (click)="_stateService.toggleShiny()">
              Shiny
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox class="checkbox" checked="{{_stateService.isRegional()}}"
                          (click)="_stateService.toggleRegional()">
              Regional
            </mat-checkbox>
          </p>
          <ng-template matStepLabel>Special form</ng-template>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Edition</ng-template>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Create</ng-template>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button>Create</button>
        </mat-step>
      </mat-stepper>
    </mat-card-content>
    <mat-card-footer class="footer">
      @if (_stateService.loading()) {
        <mat-progress-bar mode="query"></mat-progress-bar>
      }
    </mat-card-footer>
  </mat-card>
  @if (_stateService.hasPokemon()) {
    <mat-card [@inOutAnimation] class="picture-card primary-card">
      <mat-card-header>
        <mat-card-subtitle>#{{ _stateService.pokemon()?.dexNumber }}</mat-card-subtitle>
        <mat-card-title>{{ _stateService.pokemon()?.name | titlecase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img class="rounded-picture" width="300" height="300"
             [src]="_stateService.isShiny() ? _stateService.pokemon()?.spriteShinyUrl : _stateService.pokemon()?.spriteUrl"
             alt=""/>
        <mat-divider style="margin: 16px 0 16px 0"></mat-divider>
        <app-pokemon-type [types]="_stateService.pokemon()?.types"></app-pokemon-type>
      </mat-card-content>
    </mat-card>
  }
</div>
