.input {
  margin-top: 8px;
  width: 100%;
}

.error-theme{
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: #ba1a1a !important;
  }
  color: #ba1a1a;
}

.light-theme{
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused,
  .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused,
  .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused,
  .mdc-notched-outline__trailing {
    border-color: #006a6a !important;
  }
  color: #006a6a;
}
