@use 'sass:map';
@use '@angular/material' as mat;
@use '../../variables' as vars;

@mixin dashboard-component-theme($theme, $color) {
  tr.element-row:not(.expanded-row):hover {
    background: $color;
  }

  tr.element-row:not(.expanded-row):active {
    background: $color;
  }

  .mobile-add-fab {
    background-color: mat.get-theme-color($theme, primary) !important;
    color: mat.get-theme-color($theme, on-primary) !important;
  }
}
