@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme, $color) {
  .rounded-picture {
    border: 2px solid mat.get-theme-color($theme, primary) !important;
  }

  tr.element-row:not(.expanded-row):hover {
    background: $color;
  }

  tr.element-row:not(.expanded-row):active {
    background: $color;
  }
}

@mixin theme($theme, $color) {
  @if mat.theme-has($theme, color) {
    @include color($theme, $color);
  }
}
