@use 'sass:map';
@use '@angular/material' as mat;
@use '../../variables' as vars;

@mixin color($theme, $color) {
  .rounded-picture {
    border: 2px solid mat.get-theme-color($theme, primary) !important;
  }

  tr.element-row:not(.expanded-row):hover {
    background: $color;
  }

  tr.element-row:not(.expanded-row):active {
    background: $color;
  }

  .pokemon-edition-chip[title="Schwarz 2"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Schwarz"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Purpur"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Saphir"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Smaragd"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Blattgrün"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Alpha Saphir"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Schild"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Karmesin"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="X"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Y"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Mond"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Ultra Mond"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Let's Go, Evoli!"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Legenden: Arceus"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Rot"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Feuerrot"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Rubin"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Omega Rubin"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .pokemon-edition-chip[title="Schwert"]{
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
  .deleteButton{
    color: vars.$error-color !important;
  }
}

@mixin theme($theme, $color) {
  @if mat.theme-has($theme, color) {
    @include color($theme, $color);
  }
}
