table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.pokemon-type {
  padding-top: 8px !important;
}

.deleteButton {
  float: right;
}

.mobile-add-fab {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 2;
}
