@use "../../node_modules/@angular/material/index" as mat;
@use '../../node_modules/@angular/material-experimental/index' as matx;
@use 'sass:map';
@use '../app/core/auth/component/auth.component-theme' as auth-component;
@use '../app/sidenav/sidenav.component-theme' as sidenav-component;
@use '../app/create-tracker-set/create-tracker-set.component-theme' as create-tracker-set-component;
@use '../app/create-tracker-set/pokemon-card/pokemon-card.component-theme' as pokemon-card-component;
@use '../app/dashboard/dashboard.component-theme' as dashboard-component;
@use '../app/create-tracker-set/pokemon-card-content/pokemon-card-content.component-theme' as pokemon-card-content-component;

@include mat.core();

$m3-custom-light: (
  color: (
    theme-type: light,
    primary: matx.$m3-cyan-palette,
    tertiary: matx.$m3-blue-palette,
  )
);

$light-theme: matx.define-theme($m3-custom-light);
