@use '../../node_modules/@angular/material/index' as mat;
@use 'light-theme' as lightTheme;
@use 'dark-theme' as darkTheme;
@use '../app/toolbar/toolbar.component-theme' as sidenav-component;
@use '../app/core/auth/component/auth.component-theme' as auth-component;
@use '../app/dashboard/dashboard.component-theme' as dashboard-component;
@use '../app/create-tracker-set/create-tracker-set.component-theme' as create-tracker-set;
@use '../app/create-tracker-set/pokemon-card/pokemon-card.component-theme' as pokemon-card;
@use '../app/edit/edit-accordion/edit-accordion.component-theme' as edit-accordion;

@include mat.core();

html {
  @include mat.all-component-themes(darkTheme.$dark-theme);

  .pokemon-edition-chip[title="Schwarz 2"], [title="Schwarz"], [title="Purpur"], [title="Saphir"],
  [title="Smaragd"], [title="Blattgrün"], [title="Alpha Saphir"], [title="Schild"], [title="Karmesin"],
  [title="X"], [title="Y"], [title="Mond"], [title="Ultra Mond"], [title="Let's Go, Evoli!"],
  [title="Legenden: Arceus"], [title="Rot"], [title="Feuerrot"], [title="Rubin"], [title="Omega Rubin"],
  [title="Schwert"] {
    --mdc-chip-label-text-color: white;
    --mdc-chip-with-trailing-icon-trailing-icon-color: white;
  }
}

@mixin create-dark-theme() {
  @include sidenav-component.sidenav-theme(darkTheme.$dark-theme, mat.get-theme-color(darkTheme.$dark-theme, secondary, 20));
  @include auth-component.auth-component-theme(darkTheme.$dark-theme, mat.get-theme-color(darkTheme.$dark-theme, secondary, 20), mat.get-theme-color(darkTheme.$dark-theme, secondary, 10));
  @include create-tracker-set.create-tracker-set-component-theme(darkTheme.$dark-theme, mat.get-theme-color(darkTheme.$dark-theme, secondary, 20));
  @include pokemon-card.pokemon-card-component-theme(darkTheme.$dark-theme, mat.get-theme-color(darkTheme.$dark-theme, secondary, 20));
  @include dashboard-component.dashboard-component-theme(darkTheme.$dark-theme, mat.get-theme-color(darkTheme.$dark-theme, secondary, 20));
  @include edit-accordion.edit-accordion-component-theme(darkTheme.$dark-theme, mat.get-theme-color(darkTheme.$dark-theme, secondary, 20));

  html {
    background-color: mat.get-theme-color(darkTheme.$dark-theme, secondary, 10);
  }

  html, body {
    color: mat.get-theme-color(darkTheme.$dark-theme, secondary);
  }

  .accent-btn {
    @include mat.button-color(darkTheme.$dark-theme, $color-variant: tertiary);
  }

  .rounded-picture {
    border: 2px solid mat.get-theme-color(darkTheme.$dark-theme, primary) !important;
  }

  .action-button {
    margin: 8px 0;
    color: mat.get-theme-color(darkTheme.$dark-theme, primary);
  }

  .pokemon-edition-chip[title="Schwarz"] {
    border: 0.2px solid mat.get-theme-color(darkTheme.$dark-theme, secondary, 30);
  }

  .pokemon-edition-chip[title="Schwarz 2"] {
    border: 0.2px solid mat.get-theme-color(darkTheme.$dark-theme, secondary, 30);
  }
}

@mixin create-light-theme() {
  @include mat.all-component-colors(lightTheme.$light-theme);
  @include sidenav-component.sidenav-theme(lightTheme.$light-theme, mat.get-theme-color(lightTheme.$light-theme, secondary, 90));
  @include auth-component.auth-component-theme(lightTheme.$light-theme, mat.get-theme-color(lightTheme.$light-theme, secondary, 100), mat.get-theme-color(lightTheme.$light-theme, secondary, 95));
  @include create-tracker-set.create-tracker-set-component-theme(lightTheme.$light-theme, mat.get-theme-color(lightTheme.$light-theme, secondary, 100));
  @include pokemon-card.pokemon-card-component-theme(lightTheme.$light-theme, mat.get-theme-color(lightTheme.$light-theme, secondary, 100));
  @include dashboard-component.dashboard-component-theme(lightTheme.$light-theme, mat.get-theme-color(lightTheme.$light-theme, secondary, 100));
  @include edit-accordion.edit-accordion-component-theme(lightTheme.$light-theme, mat.get-theme-color(lightTheme.$light-theme, secondary, 100));

  html {
    background-color: mat.get-theme-color(lightTheme.$light-theme, secondary, 95);
  }

  html, body {
    color: mat.get-theme-color(lightTheme.$light-theme, secondary);
  }

  .accent-btn {
    @include mat.button-color(lightTheme.$light-theme, $color-variant: tertiary);
  }

  .rounded-picture {
    border: 2px solid mat.get-theme-color(lightTheme.$light-theme, primary) !important;
  }

  .action-button {
    margin: 8px 0;
    color: mat.get-theme-color(lightTheme.$light-theme, primary);
  }

  .pokemon-edition-chip[title="Weiß"] {
    border: 0.2px solid mat.get-theme-color(lightTheme.$light-theme, secondary, 70);
  }

  .pokemon-edition-chip[title="Weiß 2"] {
    border: 0.2px solid mat.get-theme-color(lightTheme.$light-theme, secondary, 70);
  }
}
