<div [class]='responsive.isDarkMode() ? "dark-mode-container" : "light-mode-container"'>
  <h2 [class]='responsive.isDarkMode() ? "dark-mode-text" : "light-mode-text"'
      mat-dialog-title>{{ dialog.title }}</h2>
  <mat-dialog-content [class]='responsive.isDarkMode() ? "dark-mode-text" : "light-mode-text"'>
    {{ dialog.content }}
    <app-password-input-field #passwordInput></app-password-input-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [class]='responsive.isDarkMode() ? "dark-mode-button" : "light-mode-button"' mat-button
            mat-dialog-close>Cancel
    </button>
    <button [disabled]="passwordInput.valid"
            [class]='responsive.isDarkMode() ? "dark-mode-button" : "light-mode-button"' mat-button
            mat-dialog-close (click)="onConfirm(passwordInput.passwordForm.value!)">Ok
    </button>
  </mat-dialog-actions>
</div>
