<div #container class="content-container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="menu-button">menu</mat-icon>
    </button>
    <h1 class="app-name">{{ appName }}</h1>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="profile-picture" aria-label="Account settings">
      <mat-menu
        #menu="matMenu">
        <button [class]="theme" mat-menu-item (click)="logout()">Logout
          <mat-icon [class]="theme" fontIcon="logout"></mat-icon>
        </button>
        <button [class]="theme" mat-menu-item (click)="this.responsive.toggleDarkMode()">
          {{ responsive.isDarkMode() ? 'Light Mode' : 'Dark Mode' }}
          <mat-icon [class]="theme" fontIcon="brightness_medium"></mat-icon>
        </button>
      </mat-menu>
    </button>
  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="true" class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [fixedInViewport]="responsive.isMobile()" fixedTopGap="56">
      <mat-nav-list>
        <a class="sidenav-element" mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()">Dashboard</a>
        <a mat-list-item routerLink="/create" (click)="sidenav.toggle()">Create</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
