<div class="container">
  <app-pokemon-selector #selector
                        [initialValue]="stateService.hasSelectedPokemon ? stateService.selectedPokemon()!.name : ''"
                        [mode]="mode" (onSelect)="updatePokemonState($event)" (onChange)="onChange()">
  </app-pokemon-selector>

  @if (this.stateService.hasSelectedPokemon) {
    <div
      [@flyInOut]="responsive.isMobile() ? {value:'', params:{duration : 200}} : {value:'', params:{duration : 0}}">
      <div class="element-detail">
        @if (stateService.selectedPokemon()?.normal) {
          <div style="{{responsive.isMobile() ? 'height: 134px;' : 'height: 204px'}}"
               class="element-sprites">
            <img class="rounded-picture" [src]="stateService.selectedPokemon()?.normalSpriteUrl"
                 alt="normal sprite url">
          </div>
        }
        @if (stateService.selectedPokemon()?.shiny) {
          <div style="{{responsive.isMobile() ? 'height: 134px;' : 'height: 204px'}}"
               class="element-sprites">
            <img class="rounded-picture" [src]="stateService.selectedPokemon()?.shinySpriteUrl"
                 alt="normal sprite url">
          </div>
        }
      </div>
      <app-pokemon-type [types]="stateService.selectedPokemon()?.types" [inputLanguage]="'de'"></app-pokemon-type>
      <app-edit-accordion [pokemon]="this.stateService.selectedPokemon"></app-edit-accordion>
      <button [disabled]="!this.stateService.hasSelectedPokemon" class="action-button" style="float:right;"
              mat-flat-button (click)="updatePokemon()">Update
      </button>
    </div>
  }
</div>
@if (this.stateService.loading()) {
  <mat-progress-bar class="progress-bar" mode="query"></mat-progress-bar>
}
