<div class="container">
  <form>
    <mat-form-field class="pokemon-name-form-field">
      <mat-label>Pokemon</mat-label>
      <input type="text"
             placeholder="Name"
             matInput
             [formControl]="pokemonNameControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  @if (this._stateService.selectedPokemon() !== undefined) {
    <app-edit-accordion [pokemon]="this._stateService.selectedPokemon"></app-edit-accordion>
  }
</div>
