@use "@angular/material" as mat;
@use '@angular/material-experimental' as matx;
@use 'sass:map';
@use "assets/theme" as theme;

@include mat.core();

.dark-theme {
  @include theme.create-dark-theme();
}

.light-theme {
  @include theme.create-light-theme();
}

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  min-width: 300px;
  overflow-y: hidden;
  --mdc-dialog-container-shape: 20px;
  --mdc-dialog-container-color: transparent;
}

.snackbar-success {
  --mdc-snackbar-container-color: #026e00;
  --mat-snack-bar-button-color: #fff;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-button-touch-target-color: #fff;
}

.snackbar-error {
  --mdc-snackbar-container-color: #f44336;
  --mat-snack-bar-button-color: #fff;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-mdc-button-touch-target-color: #fff;
}
