@use "@angular/material" as mat;
@use '@angular/material-experimental' as matx;
@use 'sass:map';
@use './app/core/auth/component/auth.component-theme' as auth-component;

@include mat.core();

$m3-custom-light: (
  color: (
    theme-type: light,
    primary: matx.$m3-cyan-palette,
    tertiary: matx.$m3-orange-palette,
  )
);
$m3-custom-dark: (
  color: (
    theme-type: dark,
    primary: matx.$m3-cyan-palette,
    tertiary: matx.$m3-orange-palette,
  )
);
$dark-theme: matx.define-theme($m3-custom-dark);
$dark-theme-default-text: #e0e3e2;
$light-theme: matx.define-theme($m3-custom-light);

@include auth-component.theme($dark-theme);

html {
  @include mat.all-component-themes($dark-theme);
  background: mat.get-theme-color($dark-theme, surface);
}

html, body {
  height: 100%;
  color: $dark-theme-default-text;
}

.accent-btn {
  @include mat.button-color($dark-theme, $color-variant: tertiary);
}
