<div [class]='responsive.isDarkMode() ? "dark-mode-container" : "light-mode-container"'>
  <h2 [class]='responsive.isDarkMode() ? "dark-mode-text" : "light-mode-text"'
      mat-dialog-title>{{ dialog.title }}</h2>
  <mat-dialog-content
    [class]='responsive.isDarkMode() ? "dark-mode-text" : "light-mode-text"'>{{ dialog.content }}
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [class]='responsive.isDarkMode() ? "dark-mode-button" : "light-mode-button"' mat-button
            mat-dialog-close (click)="onConfirm(false)">Cancel
    </button>
    <button [class]='responsive.isDarkMode() ? "dark-mode-button" : "light-mode-button"' mat-button
            mat-dialog-close (click)="onConfirm(true)">Ok
    </button>
  </mat-dialog-actions>
</div>
