.account-input {
  margin-top: 8px;
  width: 100%;
}

.settings-card{
  margin: 8px 0;
}

.container {
  margin: 8px;
}

.centered {
  display: flex;
  justify-content: center;
}

.delete-button {
  float: right;
  width: 100%;
  background-color: #f44336;
  color: white;
  margin-top: 8px;
}

.account-settings-heading{
  text-align: center;
  margin: 16px;
}
